<section class="relative">
  <div class="relative">
    <div
      class="flex z-10 items-center p-3 gap-x-4 w-full mb-2 bg-white rounded-lg input-search"
    >
      <img ngSrc="assets/svg/location.svg" height="18" width="18" alt="" />
      <div class="w-full">
        <p class="text-xs text-orange font-bold">Origem</p>
        <input [formControl]="departureAiportFilterControl" class="outline-none w-full font-semibold" placeholder="Pesquise a cidade origem" type="text" />
      </div>
      <img
        class="cursor-pointer"
        ngSrc="assets/svg/search.svg"
        height="18"
        width="18"
        alt=""
      />
    </div>

    <div
      *ngIf="showDepartureAiportsList && airports.length"
      class="input-search absolute z-50 bg-white w-full p-3 rounded-lg h-96 overflow-y-scroll"
    >
      <ul *ngIf="!isSearchOrigin; else search">
        <li
          (click)="selectDepartureAiport(airport)"
          class="airport"
          *ngFor="let airport of airports"
        >
          {{ airport.city }} - {{ airport.name }} - (
          {{ airport.iata ? airport.iata + " , " : "" }} {{ airport.icao }})
        </li>
      </ul>
      <ng-template #search>
        <div class="flex items-center justify-center mt-10">
          <mat-spinner [diameter]="50" color="primary"></mat-spinner>
        </div>
      </ng-template>
    </div>
  </div>

  <div class="absolute z-50 top-12 right-1">
    <div class="transfer" (click)="changeAiports()">
      <img ngSrc="assets/svg/transfer.svg" height="15" width="12" alt="" />
    </div>
  </div>

  <div class="relative">
    <div
      class="z-10 flex items-center p-3 gap-x-4 w-full bg-white rounded-lg input-search"
    >
      <img ngSrc="assets/svg/location.svg" height="18" width="18" alt="" />
      <div class="w-full">
        <p class="text-xs text-orange font-bold">Destino</p>
        <input
          [formControl]="arrivalAiportFilterControl"
          class="outline-none w-full font-semibold"
          placeholder="Pesquise cidade de destino"
          type="text"
        />
      </div>
      <img
        class="cursor-pointer"
        ngSrc="assets/svg/search.svg"
        height="18"
        width="18"
        alt=""
      />
    </div>
    <div
      *ngIf="showArrivalAiportsList && airports.length"
      class="input-search absolute z-50 bg-white w-full p-3 rounded-lg h-96 overflow-y-scroll"
    >
      <ul *ngIf="!isSearchDistiny; else search">
        <li
          (click)="selectArrivalAiport(airport)"
          class="airport"
          *ngFor="let airport of airports"
        >
          {{ airport.city }} - {{ airport.name }} - (
          {{ airport.iata ? airport.iata + " , " : "" }} {{ airport.icao }})
        </li>
      </ul>
      <ng-template #search>
        <div class="flex items-center justify-center mt-10">
          <mat-spinner [diameter]="50" color="primary"></mat-spinner>
        </div>
      </ng-template>
    </div>
  </div>

  <section class="mt-5 flex items-center gap-5 w-full">
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Data de partida</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        readonly
        [formControl]="dateControl"
        [min]="today"
        (dateChange)="dateChange($event)"
      />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Horário de partida</mat-label>
      <mat-select [formControl]="hourControl">
        <mat-option *ngFor="let hour of hours" [value]="hour">{{
          hour
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </section>

  <!-- Filters -->
  <!-- <div class="flex items-center justify-between gap-x-3 -mt-5" *ngIf="showFilters">
    <mat-checkbox
      class="font-bold"
      [formControl]="nearbyAirportsControl"
      [checked]="nearbyAirportsControl.value"
      color="primary"
      >Expandir busca para aeroportos próximos</mat-checkbox
    >
    <p
      
      (click)="openModalSolicitation()"
      role="button"
      class="text-xs cursor-pointer font-medium hover:underline hover:text-orange"
    >
      Deseja enviar carga? Clique aqui.
    </p>
  </div> -->
</section>

<button
  (click)="search()"
  class="bg-orange text-white rounded-lg font-bold py-4 w-full mt-3 flex items-center gap-3 justify-center"
>
  Buscar
  <mat-icon>search</mat-icon>
</button>
