<div class="m-3">
  <div>
    <input
      type="file"
      class="hidden"
      accept="image/*"
      #fileUpload
      (change)="uploadFile($event)"
    />
    <div
      (click)="fileUpload.click()"
      class="w-44 h-44 overflow-hidden border-orange border border-solid cursor-pointer flex items-center justify-center bg-gray-300 rounded-full mx-auto mb-10"
    >
      <mat-icon *ngIf="!filePath">add</mat-icon>
      <img
        *ngIf="filePath"
        class="h-full w-full object-cover"
        [src]="filePath"
        alt=""
      />
    </div>
  </div>
  <form class="w-full" (submit)="submitUser()" [formGroup]="userForm">
    <div class="w-full">
      <h2 class="text-2xl font-extrabold mb-2 text-orange">Dados pessoais</h2>
      <div class="space-y-1">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Nome completo</mat-label>
          <input type="text" formControlName="name" matInput />
          <mat-error class="text-xs">Campo obrigatório</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Email</mat-label>
          <input type="text" matInput formControlName="email" />
          <mat-error class="text-xs">Campo obrigatório</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Telefone</mat-label>
          <input
            type="text"
            mask="(00) 0 0000-0000"
            matInput
            formControlName="phone"
          />
          <mat-error class="text-xs">Campo obrigatório</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>WhatsApp</mat-label>
          <input
            type="text"
            mask="(00) 0 0000-0000"
            matInput
            formControlName="whatsapp"
          />
          <mat-error class="text-xs">Campo obrigatório</mat-error>
        </mat-form-field>
      </div>

      <h2 class="text-2xl font-extrabold mt-5 mb-2 text-orange">Senha</h2>
      <div class="space-y-1">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Senha</mat-label>
          <input
            matInput
            formControlName="password"
            [type]="hide ? 'password' : 'text'"
          />
          <button type="button" mat-icon-button matSuffix (click)="hide = !hide">
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Confirmar Senha</mat-label>
          <input
            matInput
            formControlName="confirmPassword"
            [type]="hide ? 'password' : 'text'"
          />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error class="text-xs">Campo obrigatório</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="w-full">
      <h2 class="text-2xl font-extrabold mt-5 mb-2 text-orange">Endereço</h2>
      <div class="space-y-1">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>CEP</mat-label>
          <input
            type="text"
            mask="00000-000"
            [dropSpecialCharacters]="true"
            matInput
            formControlName="zipCode"
            (blur)="getCepInfos($event)"
          />
          <mat-error class="text-xs">Campo obrigatório</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Endereço</mat-label>
          <input type="text" matInput formControlName="street" />
          <mat-error class="text-xs">Campo obrigatório</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Número</mat-label>
          <input type="text" mask="0*" matInput formControlName="number" />
          <mat-error class="text-xs">Campo obrigatório</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Complemento</mat-label>
          <input type="text" matInput formControlName="complement" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Cidade</mat-label>
          <input type="text" matInput formControlName="city" />
          <mat-error class="text-xs">Campo obrigatório</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full">
          <mat-label>UF</mat-label>
          <input type="text" matInput formControlName="state" />
          <mat-error class="text-xs">Campo obrigatório</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full">
          <mat-label>País</mat-label>
          <input type="text" matInput formControlName="country" />
          <mat-error class="text-xs">Campo obrigatório</mat-error>
        </mat-form-field>
      </div>
    </div>

    <button
      [disabled]="userForm.invalid"
      type="submit"
      class="btn bg-mb-black-200 text-white rounded-lg font-bold py-4 w-full mt-3"
    >
      Salvar
    </button>
  </form>
</div>
