<div class="container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="max-w-3xl w-full flex-col">
        <div class="mt-5 mb-5">
            <h1 class="font-bold text-2xl">Confirme o código</h1>
            <p>Insira o código que foi enviado para seu e-mail.</p>
        </div>

        <div for="code">Código </div>
        <input [maxlength]="maxLength" class="p-4 mb-3 input rounded-lg w-full" type="text" placeholder="Insira o código recebido no email." formControlName="code">
        <div *ngIf="form.controls['code'].invalid && form.controls['code'].touched">
            <p class="text-red-600">Insira o código corretamente</p>
        </div>

        <div for="password">Nova Senha:</div>
        <input [minlength]="passwordMinLength" class="p-4 mb-3 input rounded-lg w-full" type="text" placeholder="Insira sua nova senha" formControlName="password">
        <div *ngIf="form.controls['password'].invalid && form.controls['password'].touched">
            <p class="text-red-600">Insira a senha corretamente</p>
        </div>

        <div for="password">Confirme a nova senha:</div>
        <input [minlength]="passwordMinLength" class="p-4 input rounded-lg w-full mb-3" type="text" placeholder="Insira sua nova senha" formControlName="confirmPassword">
        
        <div *ngIf="form.controls['confirmPassword'].touched && form.controls['confirmPassword'].value.length < 8">
            <p class="text-red-600">A senha deve ter no mínimo 8 caracteres</p>
          </div>
        <br />

        <div *ngIf="form.controls['password'].value !== form.controls['confirmPassword'].value">
            <p class="text-red-600">Senhas não conferem</p>
        </div>

        <button [ngClass]="{'bg-zinc-500': form.invalid}" [disabled]="form.controls['password'] !== form.controls['confirmPassowrd'] && form.invalid" class="p-5 bg-black text-white font-bold rounded-lg w-full" type="submit">Continuar</button>
    </form>
</div>a