.box {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.mat-mdc-icon-button {
  background-color: #191919 !important;
}
.mat-mdc-icon-button:disabled {
    background-color: #707070 !important;
  }
  