<div class="flex flex-col md:flex-row justify-between items-stretch h-screen gap-5 p-4">
  <aside class="basis-1/3 overflow-y-auto">
    <h1 class="text-xl font-bold mb-3">Selecionar modelos</h1>
    <div
      *ngFor="let item of quotations"
      class="flex justify-start items-center gap-2 p-2 custom-border space-y-2 hover:cursor-pointer hover:bg-gray-200"
      [routerLink]="['/cotacoes/detalhes', item.id]"
    >
      <img [src]="item.image" alt="imagem da aeronave" class="h-20 w-20 rounded-full">
      <div class="flex-grow">
        <p class="font-bold">{{ item.model }}</p>
        <p class="text-xs">Valor aproximado de <span class="font-bold">{{ item.quotation | currency: 'BRL' }}</span></p>
        <p class="text-xs">Até {{ item.numberOfSeats }} assentos</p>
      </div>
    </div>
  </aside>
  
  <section class="basis-2/3 overflow-auto px-1">
    <app-image-carousel [images]="flightimages"></app-image-carousel>
  
    <div>
      <h2 class="text-3xl font-semibold my-5">Detalhes do voo</h2>
  
      <div class="grid grid-cols-2 gap-4">
        <div>
          <h4 class="text-2xl font-bold text-orange mb-5">Itinerário do voo</h4>
          <div *ngIf="flight?.departureDate && flight?.departureTime" class="font-medium text-lg flex gap-x-2 mb-5">
            <img ngSrc="assets/svg/calendar.svg" height="20" width="20" />
            <p>{{ flight?.departureDate | date: 'dd/MM/yyyy':'UTC' }} - {{ flight?.departureTime }}</p>
          </div>
          <div class="flex items-center">
            <img ngSrc="assets/svg/timeline.svg" height="100" width="60" />
            <div class="flex flex-col justify-between h-48">
              <article>
                <p class="font-bold">
                  {{ flight?.departureAirport?.iata }}
                  <span *ngIf="flight.departureAirport?.iata">, </span>
                  {{ flight?.departureAirport?.icao }}
                </p>
                <p>
                  {{ flight?.departureAirport?.name }} -
                  {{ flight?.departureAirport?.city }}
                </p>
              </article>
              <article>
                <p class="font-bold text-lg text-orange">
                  {{ flight?.arrivalTime }}
                </p>
                <p class="font-bold">
                  {{ flight?.arrivalAirport?.iata }}
                  <span *ngIf="flight?.arrivalAirport?.iata">, </span>
                  {{ flight?.arrivalAirport?.icao }}
                </p>
                <p>
                  {{ flight?.arrivalAirport?.name }} -
                  {{ flight?.arrivalAirport?.city }}
                </p>
              </article>
            </div>
          </div>
        </div>
        <div>
          <h4 class="text-2xl font-bold text-orange mb-5">
            Detalhes da aeronave
          </h4>
          <div class="flex items-center gap-3 text-lg font-medium">
            <img ngSrc="assets/svg/nav-orange.svg" height="80" width="50" />
            <div>
              <p class="font-bold text-orange">{{ flight?.model }}</p>
              <p>
                {{ flight?.manufacturer }} -
                {{ flight?.numberOfSeats }} assentos
              </p>
            </div>
          </div>

          <div class="mt-5">
            <h4 class="text-2xl font-bold text-orange mb-5">
              Tempo de vôo
            </h4>
            <div class="flex items-center gap-3 text-lg font-medium">
              <img ngSrc="assets/svg/nav-orange.svg" height="80" width="50" />
              <div>
                <p class="font-bold">{{ flight?.duration }}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-span-3">
          <mat-form-field class="w-full" appearance="outline" subscriptSizing="dynamic">
            <mat-label>Observação adicional</mat-label>
            <input type="text" matInput [formControl]="observation">
          </mat-form-field>

          <button
            (click)="reserve()"
            class="bg-mb-black-200 text-white rounded-lg font-bold py-4 w-full mt-3"
          >
            Reservar
          </button>
        </div>
      </div>
    </div>
  </section>
</div>

<swal #confirmSwal [text]="successText" icon="success" (confirm)="confirm()">
</swal>
