<div class="container w-full">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="max-w-3xl w-full flex flex-col">
        <h1 class="text-2xl font-bold">Esqueci minha senha</h1>
        <p class="text-lg mt-2">Para recuperar seu acesso, precisamos do seu e-mail.</p>
        <input placeholder="Insira seu e-mail" class="p-5 rounded-lg mt-4 mb-4 input" type="text" formControlName="email" id="email">
        <div class="mb-4 mx-auto" *ngIf="form.controls['email'].invalid && form.controls['email'].touched">
            <small class="text-red-600 mx-auto ">Email inválido</small>
        </div>
        <button type="submit" class="p-4 border bg-black text-white rounded-xl font-bold w-4/4">Continuar</button>
    </form>
</div>
